.apps{
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}
.profile{
    display: inline-block;
    fill: currentColor;
    height: 24px;
    border: 1px solid red;
    border-radius: 50%;
    width: 24px;
}
.nav{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}
.logo{
    height: 180px;
    width: 500px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    padding: 50px;
}
.search_icon{
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}
.search_button{
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 10px 20px;
}
.search_icon:hover{
    background-color: #5456579d;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3), 0 4px 8px rgba(60, 64, 67, 0.15);
}
.search{
    border: none;
    font-size: 16px;
    outline: none;
    width: 100%;
}
.search_bar{
    display: flex;
    flex-direction: row;

    align-items: center;
    border: 1px solid #dadce0;
    border-radius: 24px;
    padding: 10px 15px;
    width: 50%;
}
.search_bar:hover{
    box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3), 0 4px 8px rgba(60, 64, 67, 0.15);
}
.button_container{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
}
nav li a{
    text-decoration: none;
    color: #3c4043;
    font-size: 14px;
}
nav li a:hover{
    text-decoration: underline;
}